body {
  font-family: "Rubik", sans-serif;
  background-color: #222831;
  color: #EEEEEE;
}

body > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body > section > p {
  max-width: 50vw;
}

.resume-btn-cont {
  position: fixed;
  top: 20px;
  right: 40px;
}

.resume-btn-cont > a {
  text-decoration: none;
}

.resume-btn-cont > a > button {
  width: 120px;
  border: none;
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

.skills-cont > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-cont > div > img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.skills-title {
  font-size: 25px;
}

.profile-link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.profile-link-cont > a > img {
  width: 50px;
  margin: 10px;
}

.desc {
  font-size: 20px;
  text-align: center;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 350px;
  padding: 30px;
  margin: 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(94, 159, 163);

}
